/*
Inspirasjon https://www.orb-space.com/
Color palette https://colorhunt.co/palette/f5eaeaffb84cf16767a459d1
*/

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');

:root{
  --white: #FBF9FA;
  --pink: #FD0054;
  --dark-pink: #A80038;
  --black: #2B2024;
  --max-width-head: 1200px;
  --max-width-main: 800px;
}

body{
  background-color: var(--white);
  color: var(--black);
  font-family: 'Sono', sans-serif;
}

header{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width-head);
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo{
  font-size: 3rem;
  color: var(--pink);
  max-width: 200px;
}

.about-us{
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--dark-pink);
  max-width: 200px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
  margin: 2rem 1rem;
  background-color: var(--dark-pink);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav li:hover{
  background-color: var(--pink);
  color: var(--white);
}

main{
  max-width: var(--max-width-main);
  height: 15vh;
  margin: 0 auto;
  flex: 1;
}

main h1{
  display: flex;
  justify-content: center;
}

.search{
  margin-top: 5rem;
  color: var(--dark-pink);
}

input{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  width: 80%;
}

input:focus{
  outline: none;
}

.search-result{
  list-style: none;
  background-color: var(--dark-pink);
  margin: 0 auto;
  width: 80%;
  color: var(--white);
  padding: 5px;
  height: 300px;
  overflow: auto;
}

.search-result::-webkit-scrollbar{
  width: 5px;
}

.search-result::-webkit-scrollbar-track{
  background: #ff97ba;
}

.search-result::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 5px;
}

.search-result li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--white);
  margin: 0;
}

.search-result img{
  width: 90px;
  height: auto;
}

.search-box{
  padding-left: 1rem;
  flex: 1;
}

.james-bond{
  color: var(--dark-pink);
  margin-top: 10rem;
}

.james-bond-box{
  border-radius: 10px;
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-card {
  margin-bottom: 1rem;
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 903px){
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo, .about-us {
    margin-top: 1rem;
  }

  nav {
    display: none;
  }

  .search {
    margin-top: 3rem;
  }

  input {
    width: 100%;
  }

  .search-result {
    width: 100%;
  }

  .james-bond {
    margin-top: 6rem;
  }

  .movie-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    background-color: #2B2024;
  }

  .movie-card {
    width: 100%;
  }

  .movie-card img {
    width: 90%;
    height: auto;
  }
}


