.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Min egen CSS */

/*
Inspirasjon https://www.orb-space.com/
Color palette https://colorhunt.co/palette/f5eaeaffb84cf16767a459d1
*/

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');

:root{
  --peach: #f5eaea;
  --orange: #ffb84c;
  --red: #f16767;
  --purple: #a459d1;
  --max-width: 1200px;
}


body{
  background-color: var(--peach);
  color: var(--red);
  font-family: 'Sono', sans-serif;
}

header{
  margin: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

header h1{
  font-size: 4rem;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav li{
  list-style: none;
  margin: 8rem 2rem;
  background-color: var(--purple);
  color: var(--peach);
  padding: 2rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

nav li:hover{
  background-color: var(--orange);
  color: var(--peach);
}

.about-us{
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 40rem;
}

main{
  max-width: var(--max-width);
  height: 100vh;
  margin-top: 5rem;
  margin: 0 auto;
}

main h1{
  display: flex;
  justify-content: center;
}

.movie-card-container{
  margin-right: 5rem;
  background-color: #282c34;
}

.movie-card img {
  width: 10vh;
  height: 15vh;
  object-fit: cover;
}


footer{
  margin-top: 10rem;
}
